*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/androidTest/java/com/example/recipe_hfyst1/ExampleInstrumentedTest.java
/app/src/test/java/com/example/recipe_hfyst1/ExampleUnitTest.java
